.alertBox {
    padding: 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.danger{
    background-color: #f44336;
}

.danger::before{
    content: "Danger!";
    font-weight: bold;
}

.success{
    background-color: #4CAF50;
}

.success::before{
    content: "Success";
    font-weight: bold;
}

.info{
    background-color: #2196F3;
}

.info::before{
    content: "Info!";
    font-weight: bold;
}

.warning{
    background-color: #ff9800;
}

.warning::before{
    content: "Warning!";
    font-weight: bold;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}